body {
    background-image: url("https://picsum.photos/id/690/1000/1000");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#header, .nav > a, #hero, #cts {
    color:white;
}
#header{
    background-color: #0A0700;
    height: 60px;
}

.nav > a {
    color:white;
}

#hero{
    font-size: 22px;
}

#hero > h1{
    font-size: 80px;
}

#cta{
    background-color:#e40d0a;
}

#cta:hover{
    color: #e40d0a;
    background-color: white;
}

#services{
    background-color:aliceblue;
}

.card{
    background-color: white;
    width: fit-content;
}